<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="altolabs" translate="label" sortOrder="1000">
            <label>AltoLabs</label>
        </tab>
        <section id="altolabs_config" translate="label" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Snappic</label>
            <tab>altolabs</tab>
            <resource>AltoLabs_Snappic::config_altolabs</resource>
            <group id="environment" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Environment</label>
                <comment>Whether to enable sandbox mode.</comment>
                <field id="sandboxed" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandboxed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="facebook" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Facebook Configuration</label>
                <comment>You should not need to change these values.</comment>
                <field id="pixel_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Facebook Pixel ID</label>
                </field>
            </group>
            <group id="security" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Security</label>
                <comment>Identity data shared between Magento and the Snappic API.</comment>
                <field id="token" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Token</label>
                </field>
                <field id="secret" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Secret</label>
                </field>
            </group>
        </section>
    </system>
</config>
